<div class="container routes">
  <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <ng-container *ngFor="let data of breadcrumbArray">
        <li *ngIf="data.active; else elseBlock" class="{{data.class}}">{{data.label}}</li>
        <ng-template #elseBlock>
          <li class="{{data.class}}"><a href="#" routerLink="{{data.url}}">{{data.label}}</a></li>
        </ng-template>
      </ng-container>
    </ol>
  </nav>
</div>
